@model PupilCare.Models.SystemSetting
<a class="brand-logo footer-logo" asp-area="" asp-controller="Home" asp-action="Index">@Model.SystemName</a>
<p class="slogan footer-text">Nurturing potential, empowering minds.</p>
