@model PupilCare.ViewModels.CreateClassLevelViewModel
@{
    ViewData["Title"] = "Create Class";
}

<div class="panel form-panel">
    <div class="panel-header"><h2 class="panel-title">Create Class</h2></div>
    <div class="panel-body">
        <form asp-action="CreateClass" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Six, Seven, Eight" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <a asp-action="Classes" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
